<h1>Sign up!</h1>

<%= form_for :user, url: '/signup/auth' do |f| %>
  Name: <%= f.text_field :username %>
  Email: <%= f.email_field :emailid %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit 'Submit' %>
<% end %>
