<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Side Menu -->
    <%= render 'layouts/menu/side' %>
    <!--/ Side Menu -->

    <div id='main'>
      <!-- Website Menu -->
      <%= render 'layouts/menu/top' %>
      <!--/ Website Menu -->


      <div class="container container-wide">
        <!-- content -->
        <div class="content " role="main">
          <%= yield %>
        </div>
        <!--/ content -->
      </div>
      <!--/ container -->
    </div>
  </body>
</html>
